.image-cropper {
  width:35%;
  height:35%;
  margin:20px 30px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  float: right;
}.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}
